<form id="forms">
  <Fieldset id="field">
    <legend>Choose your fly</legend>
    
    <div class="Dep">
      <select id="Departing" (change)="selectCity($event)">
        <option disabled selected>Departing from...</option>
        <option 
          *ngFor="let selectItem1 of selectList1"
          [value]="selectItem1.city"
        >
        {{ selectItem1.city }}
        </option>

      </select>
      <div class="air"><img src="./assets/air.png" alt="" srcset="" class="air">
      </div>

      <input type="date" name="date" id="Departing">
    </div>
 


    <div class="Arr">
      <select id="Arriving" (change)="selectCity($event)">
        <option disabled selected>Arriving to ...</option>
        <option 
          *ngFor="let selectItem of selectList"
          [value]="selectItem.city"
        >
        {{ selectItem.city }}
        
      </select>

      <div class="air"><img src="./assets/air1.png" alt="" srcset="" class="air">
      </div>
      <input type="date" name="date" id="Arriving">

    </div>


<br>
<br>
    <label for="passengers">Adult Passengers (16+)</label>
    <input type="number" name="passengers" id="adult" min="1" max="10">

    <br>
    <label for="Kids">Kids</label>
    <input type="number" name="Kids" id="kids" min="0" max="10">
    <br>
    <label for="luggage">Extra luggage (over 20kg)</label>
    <input type="checkbox" name="" id="luggage">
    <br>

    <label for="pet">Pets</label>
    <input type="checkbox" name="pet" id="">
    <br>


    <!-- weather -->
    <div class="weather" *ngIf="weatherInfo">
      <span class="weather__city">
          {{ weatherInfo.name }}
        </span>
      <span class="weather__forecast">
        {{ calculateDeg() }} &deg;
      </span>
      <span class="weather__desc">
        {{ weatherInfo.weather[0].description }}
      </span>
      <div class="weather__icon">
        <img [src]="'https://openweathermap.org/img/wn/' + weatherInfo.weather[0].icon + '@2x.png'">
      </div>
    </div>


    <app-plane1 *ngIf="isShown == 'Warsaw'"></app-plane1>
    <app-plane2 *ngIf="isShown == 'Paris'"></app-plane2>
    <app-plane3 *ngIf="isShown == 'New York'"></app-plane3>


    <div class="cash-wrapper">
      <div class="cash">
        <p *ngIf="currentSelectedCity">
          total price: {{ totalPrice }}
          </p></div>
        <div class="sel"><select (change)="selectCurrency($event)">
          <option disabled selected> PLN </option>
          <option 
            *ngFor="let currency of currencies"
            [value]="currency"
          >{{ currency }}
          </option>
        </select>
      </div>
      </div>


    <input type="submit" (click)="openForm()" value="Confirm your order" id="Confirm">


    <div *ngIf="!myForm" class="form-popup" id="myForm">

      <form action="#" class="form-container">
        <h1>Sign In</h1>

        <input type="text" placeholder="Enter Name Surename" name="profile" required>

        <input type="text" placeholder="Enter Email" name="email" required>

        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="btn">Sign In</button>
        <button type="button" class="cancel" id="cancel" (click)=openForm()>Close</button>
      </form>
    </div>

  </Fieldset>
</form>




<a href="#" title="GoUp" class="topbutton">^GoUp</a>

<div class="weather0">
  <div class="weather1">
    <span class="weather__city"></span>
    <span class="weather__forecast"></span>
    <span class="weather__desc"></span>
    <div class="weather__icon"></div>
  </div>
  <div class="weather2">
    <span class="weather__city2"></span>
    <span class="weather__forecast2"></span>
    <span class="weather__desc2"></span>
    <div class="weather__icon2"></div>
  </div>
  <div class="weather3">
    <span class="weather__city3"></span>
    <span class="weather__forecast3"></span>
    <span class="weather__desc3"></span>
    <div class="weather__icon3"></div>
  </div>
</div>

<div class="AboutUs">
  <h3 id="AboutUs">About Us</h3>
  <p class="about"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet non laboriosam corporis animi optio ut
    accusantium adipisci soluta ea inventore quos ratione eaque, nesciunt sapiente, eos temporibus consequatur
    culpa in tempora.
    <br> Beatae sequi omnis facere ea at deserunt, voluptates commodi eaque modi libero quae
    nostrum accusamus quas alias et illo magni a? Doloremque, est cumque hic nam minima consequatur in alias
    libero delectus quos quaerat unde saepe, ipsa labore incidunt amet ad. Quis tenetur rerum id possimus,
    facere fugiat sint cum voluptate labore necessitatibus eveniet ex consectetur molestias culpa assumenda
    quisquam dicta corporis laborum ipsa itaque, deserunt, magni ea hic.</p>

</div>

<div class="container">
  <h3 id="contacts">Contacts</h3>
  <a href="#" class="fa fa-facebook-official"></a>
  <a href="#" class="fa fa-linkedin"></a>
  <a href="#" class="fa fa-instagram"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-google"></a>
</div>