/* You can add global styles to this file, and also import other style files */


html {
    margin: 0;
    padding: 0;
    background-color: #00CCFF;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;

}
::-webkit-scrollbar {
    width: 20px;
    background: #00CCFF;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:white;
}

.dark{
    background-color: black;
    color: yellow;
}